<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: $black;
}
#contact {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
#contact-left {
  color: white;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $grey;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}
#contact-right {
  color: white;
  width: 75%;
  display: flex;
  flex-direction: column;

  font-size: 5rem;
}
#contact {
  color: white;
}
#contact-right div {

  margin-left: 10rem;
}
#contact-mail {
  margin-top: 5rem;
}
#contact-tel {
  margin-top: 5rem;
  position: relative;
}
#tel-plus{
    position: relative;
    top:-22px;
    left: 0;

}
#contact-title {
    margin-top: 5rem;
    font-size: 5rem;
}

#contact-adress{
    font-size: 2rem;
    margin-top: 10rem;

}
#contact a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 15px;

}
=======
.form-check{
    color : white
}


>>>>>>> 38a73d3f6984609796dc20ce406bf3cfca46dfc0
