$black : #000000 ; 
$light-black : #171717 ; 
$lighter-black : #212121; 
$white : #FFFFFF;


//------------------------------------Grey ------------------------------------------

$grey : #707070;
$second-grey : #777777 ;
$dark-grey : #656565 ; 
$darker-grey : #4B4B4B; 




//----------------------------------------yellow ----------------------------------------
$yellow : #FFC33B; 


